<!-- 
	Display Data Page
	displays: list of user data that can be filtered by sex
			  lowest, highest or avg age of user data or filtered data
			  updated list after editing or removing user
-->
<form>
	<div class ="form-group">
        <h2> Display User Data </h2>
		<div id = "table" class = "table-editable">
			<table class="table">
			<colgroup>
				<col width = "10%">
				<col width = "*">
				<col width = "20%">
				<col width = "20%">
				<col width = "20%">
			</colgroup>
			<thead>
			  <tr>
			    <th class = "text-center" scope = "col">#</th>
			    <th class = "text-center" scope = "col">First Name</th>
			    <th class = "text-center" scope = "col">Last Name</th>
			    <th class = "text-center" scope = "col">Sex</th>
			    <th class = "text-center" scope = "col">Birthday</th>
			  </tr>
			</thead>
			<tbody>
			    <tr *ngFor="let user of displayForm.users; let i = index" >
				  <th scope ="row">{{ i + 1 }} </th>
			      <td [contentEditable]="isEditable && enableEditIndex==i" (input)="saveEdit($event, user.firstName); this.userNum=1"> {{user.firstName}} </td>
			      <td [contentEditable]="isEditable && enableEditIndex==i" (input)="saveEdit($event, user.firstName); this.userNum=2"> {{user.lastName}} </td>
				  <td [contentEditable]="isEditable && enableEditIndex==i" (input)="saveEdit($event, user.firstName); this.userNum=3"> {{user.sex}} </td>
				  <td [contentEditable]="isEditable && enableEditIndex==i" (input)="saveEdit($event, user.firstName); this.userNum=4"> {{user.birthday | date}} </td>
				  <td>
					   <button *ngIf= "this.enableEdit && this.enableEditIndex == i" (click)="enableEdit=false; isEditable=false" class = "btn" ng-click = "cancel()">Cancel</button>
					   <button *ngIf= "this.enableEdit && this.enableEditIndex == i" id = "saveBtn" class="btn" (click)="submitEdit(i); enableEdit=false; isEditable=false" type = "submit">Save</button> 
					  <p> <a [routerLink]="" class="table-row-action edit-action" *ngIf="!enableEdit" (click)="enableEditing($event, i)">
					     edit
					   </a> </p>
				  </td>
				</tr>
			</tbody>
			</table>
		</div>
		<div>
			<!-- lowest, highest, avg of user age    -->
			<ul>
			  <li> Lowest User Age: {{this.displayForm.ageMin}} </li>
			  <li> Highest User Age: {{this.displayForm.ageMax}}</li>
			  <li> Average User Age: {{this.displayForm.ageAvg}}</li>
			</ul>
		</div>
    </div>
	</form>

 
