<!-- 
	Display Data Page
	displays: list of user data that can be filtered by sex
			  lowest, highest or avg age of user data or filtered data
			  updated list after editing or removing user
-->
<form>
	
	<div class ="form-group">
        <h2> Display User Data </h2>
		<div>
			<table class="table">
			<colgroup>
				<col width = "10%">
				<col width = "*">
				<col width = "20%">
				<col width = "20%">
				<col width = "20%">
			</colgroup>
			<thead>
			  <tr>
			    <th scope = "col">#</th>
			    <th scope = "col">First Name</th>
			    <th scope = "col">Last Name</th>
			    <th scope = "col">Sex</th>
			    <th scope = "col">Birthday</th>
			  </tr>
			</thead>
			<tbody>
			    <tr *ngFor="let user of displayForm.users; let i = index" >
				  <th scope ="row">{{ i + 1 }} </th>
			      <td> {{user.firstName}} </td>
			      <td> {{user.lastName}} </td>
				  <td> {{user.sex}} </td>
				  <td> {{user.birthday | date}} </td>
				</tr>
			</tbody>
			</table>
		</div>
		<div>
			<!-- lowest, highest, avg of user age    -->
			<ul>
			  <li> Lowest User Age: {{ this.displayForm.ageMin}} </li>
			  <li> Highest User Age: {{this.displayForm.ageMax}}</li>
			  <li> Average User Age: {{this.displayForm.ageAvg}}</li>
			</ul>
		</div>
		<!--
		<ul>
		<li *ngFor= "let user of displayForm.users">First Name: {{user.firstName}} </li>
		
		</ul>
			
	-->
    </div>
	</form>

 
